.footer-nav{

    &__list{
        padding: 0;
        @include tablet {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
        @include desktop{
            display:flex;
            justify-content: flex-start;
        } 
    }

    &__item{
    list-style: none;
    }

    &__text{
        color: $white;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        @include tablet {
            margin:0 auto;
            padding-top: 48px;
            padding-bottom: 56px;
        }
        @include desktop {
            padding-right: 62px;         
        }
    }

    &__socialicon{
        padding-top:5px;   

        &--fb{
            padding: 32px;
        }

        &--twitter{
            @include tablet {
            padding-right:60px;
            }
        }      
    }

    &__sitename{
        color: $mercury;
        font-size: 24px;
        line-height: 24px;
        width:120px;
        margin: 0 auto;
        visibility: hidden;
        @include tablet {
            visibility: visible;
        }
        @include desktop{
            padding-left: 490px;
        } 
    }
}