.site-footer{
    background:$black;

    &__container{
        @extend .container;
        height: 100%;   
        padding:0 16px; 

        @include tablet {
        margin: 0 auto;
        padding: 0 24px;
        }
        @include desktop {
        margin: 0 auto;
        padding: 0 180px;
        }
    }
}