.site-footer{
    background:$black;

    &__container{
        @extend .container;
        height: 100%;   
        padding:0 1rem; 

        @include tablet {
        margin: 0 auto;
        padding: 0 1.5rem;
        }
        @include desktop {
        margin: 0 auto;
        padding: 0 11.25rem;
        }
    }
}