.comments{

    &__conversations{
        @extend .container;
        height: 100%;
        padding: 0  1rem;
        
        @include tablet {
            margin: 0 auto;
            padding: 0 1.5rem;
        }
         @include desktop {
            margin: 0;
            padding: 0 11.25rem;
        }
    }

    &__heading{
        margin:0 auto;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        font-weight: 600;
        font-size:1.5rem;
        line-height: 2rem;
        overflow: auto;

        @include tablet {
            font-size:2.25rem;
            line-height:2.75rem; 
        }

        @include desktop {
            padding-bottom:3.5rem;
            padding-top:3rem;
        }
    }

    &__commentscontainer{
        display: flex;
        overflow: auto;

        @include tablet {
            display: flex;
            justify-content: center;
            min-width: 528px;
        }

        @include desktop {
            display: flex;
            justify-content: center;
        }
    }

    &__userimage{
        width: 48px;
        height: 48px;
        border-radius: 90%;
        margin:1.25rem 1.25rem 0 0;        
    }

    &__form{
        @include desktop {
           min-width: 460px;
        }       
    }       

    &__formlabel{
        margin:0 auto;
        color:$silver;
        font-family: AvenirNext LT Pro;
        font-size:0.875rem;
        line-height: 1.375rem;
        font-weight: 500;
        padding-bottom: 0.5rem;       
    }

    &__forminput1{
        width: 100%;
        height: 3rem;
        border: 0.0625rem solid $silver;
        background-color: $alabaster;
        border-radius:0.25rem;
        padding-left: 1rem;
        font-family: AvenirNext LT Pro;
        font-size:0.8125rem;
        line-height:1.125rem;
        font-weight: 400;
        color:$black;
        margin-bottom: 1.5rem;

        &:hover,:active{              
            border: 0.125rem solid $black;           
        }
    }
   
    &__forminput2{
        width: 100%;
        height: 96px;
        border: 0.0625rem solid $silver;
        background-color: $alabaster;
        border-radius:0.25rem;
        padding-left: 1rem;
        padding-top: 0.8125rem;
        font-family: AvenirNext LT Pro;
        font-size:0.8125rem;
        line-height:1.125rem;
        font-weight: 400;
        color:$black;
        margin-bottom: 1.5rem;       
    
        &:active{
            border: 0.125rem solid $black;
        }                
    }

    &__formsubmit{
        width: 100%;
        font-family: AvenirNext LT Pro;
        font-size:0.875rem;
        line-height:2.375rem;
        font-weight: 500;
        color:$white;
        background-color:$black ;
        border-radius: 0.25rem;
        padding-top: 0.6875rem;
        padding-bottom: 0.6875rem;
        margin-bottom: 2rem;

        @include tablet {
            width: 36%;
            padding-left:0.625rem;
            padding-right:0.625rem;
            font-size:1rem;
            line-height:1.5rem;
            display: block;
            margin-left: auto;
            margin-right: 0;
        }

        @include tablet {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
        }
    }    
}    

.commentlist_divider{
        border:0;
        border-top: 0.0625rem solid $mercury;
        margin: 0;
    }

// comment list style

.commentlist{
    list-style: none;
    margin:0 auto;
    padding:0  1rem;
    overflow: auto;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding:0  1.5rem;      
    }
    
    &__container{

        @include tablet {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 490px;          
        }
        
        @include desktop {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: 528px;
        }
    }

    &__divider{
        border:0;
        border-top: 0.0625rem solid $mercury;
        margin: 0;
    }

    &__item{
        display: flex;
        
        @include desktop {
            display: flex;
            justify-content: center;
        }           
    }

    &__userimage{
        width: 48px;
        height: 48px;
        border-radius: 90%;
        margin:1.5rem 1rem 0 0;
    }

    &__group{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__commentgroup{
        width: 100%;
        display: flex;               
    }

    &__username{
        margin: 0;
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-right: 0.625rem;
        }     
    }

    &__timestamp{
        margin:0;
        color:$silver;
        padding-top:1.5rem;
        margin-left: auto;
        margin-right: 0;

        @include tablet {
            margin: 0;
        }   
    }

    &__usercomment{
        margin:0;
        font-size:0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
        padding-bottom:1.5rem;
        width:100%;
    }        
}
