.footer__copyright{
    color:$white;
    margin:0;
    padding:0;
    overflow: auto;

    @include tablet {
        display: flex;
        justify-content: flex-start;
        min-width: 50%;
    }
    
    &--text{
        margin: 0 auto;
        font-weight: 200;
        padding-bottom: 2.5rem;

        @include tablet {
            display: flex;
            white-space: nowrap;
            margin-left:0;
        }
        @include desktop{
            font-size: 0.9275rem;
            line-height: 1.0625rem;
            font-weight: 200;
        } 
    }
}