// site- banner
.site-banner{
    background-image: linear-gradient(to right, rgb(80, 145, 19),rgb(190, 77, 42), rgb(98, 6, 141));
    //background:linear-gradient(rgba(223, 32, 191, 0.3), rgba(189, 127, 165, 0.7)), url('../assets/images/Banner.jpg');
    background-size: cover;
    background-position: top center;
    min-height:183px;
    max-width: 100%;
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        padding:0 1.5rem;
        min-height:400px;
    }

    @include desktop {
        background:linear-gradient(rgba(223, 32, 191, 0.3), rgba(189, 127, 165, 0.7)), url('../assets/images/Banner.jpg') no-repeat;
        max-width: 100%;
        padding:0 11.25rem;
        min-height:670px;
        background-size: cover;
        background-position: top center;
    }

    &__container{
        margin: 0;
        @extend .container;
        height: 100%;   
        width: 100%;     
    }
    
    &__heading{
        margin:0 auto;
        color: $white;
        font-style:normal;
        font-weight:bold;
        font-size: 1.5rem;
        line-height:2rem;

        @include tablet {
            font-size: 3.75rem;
            line-height:4.25rem;
        }
    }    
}
